[Desktop Entry]
Name=brutex
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sudo brutex"
Icon=avatar-default
StartupNotify=false
Terminal=true
Type=Application
Categories=05-password-attacks;
X-Kali-Package=brutex
Comment=
Path=
